{% extends "layout.html" %}
{% block content %}

  <h2> Welcome to The Life Locator</h2>
	<strong> A W209 Final Project created by:<br>
		Chris Donaton, Dhyani Parekh, Skyler Roh</strong>

	<h2>Purpose</h2>

  <section>
	    <img src="https://i.ibb.co/1vLg4k2/breakdown.png" ALIGN="right"  HSPACE="0" VSPACE="0"/>

      <br><br>

      <p>According to the American Community Survey (ACS), around 40 million Americans, or 13%, move each year.  Although most moves are driven by careers,
			there are many opportunities for Americans to chart their own destinations.

      <br><br>

      <i>But how do potential movers decide where to move?</i>

      <br><br>
			Enter <strong>Life Locator</strong><br>
			Life Locator is designed to distill many streams of data and display it all in a user-friendly view enabling a user to find preference-matched counties and compare specific counties.
	  <br><br>
		  <i>Who is this intended for?</i>
	  Curious explorers and those expecting/planning for relocation.
	  <br><br>
	  </p>
  <br><br>

  </section>

<hr width="90%">

  <section id="overview">
	<h2>Overview:</h2>
  <p> Along the top of each page is a navigation bar that will bring you to the following pages:<br><br>
	  <div class="row" id="countryView">
	  	<div class="lcolumn">
		<dl class="overviewlist">
		  <strong><dt>Country View</dt></strong>
			  <dd>- View all of the United States</dd>
				<dd>- Check the boxes for the variables that matter to you</dd>
				<dd>- If desired, select a reference county from the drop down to compare against</dd>
				<dd>- Then 'Generate View' to display a heatmap of the calculated similarity</dd>
				<dd>- Here you can adjust the sliders for each selected variable to suit your needs</dd>
	  			<dd>- Highlights top 10 highest matching counties based on calculated similarity</dd>
		</dl>
		</div>
	  	<div class="rcolumn"><img class="previewimg" src="{{ url_for('static', filename='images/countryview.png') }}" alt="CountryViewPreview"></div>
      </div>

	  <br><br><hr width="50%"><br><br>

	  <div class="row" id="stateView">
	  	<div class="lcolumn">
		<dl class="overviewlist">
		  <strong><dt>State View</dt></strong>
			  <dd>- Similar to `Country View` with an additional `state_filter` dropdown that focuses in on counties within that particular state</dd>
	  			<dd>- Adds detailed attribute values for the top 10 most similar counties in the state</dd>
	  </dl>
		</div>
	  	<div class="rcolumn"><img class="previewimg" src="{{ url_for('static', filename='images/stateview.png') }}" alt="StateViewPreview"></div>
      </div>

	  <br><br><hr width="50%"><br><br>

	  <div class="row" id="compareView">
	  	<div class="lcolumn">
		<dl class="overviewlist">
			<strong><dt>Compare</dt></strong>
			  <dd>- Select multiple counties and directly compare selected attributes</dd>
	  </dl>
		</div>
	  	<div class="rcolumn"><img class="previewimg" src="{{ url_for('static', filename='images/compareview.png') }}" alt="CompareViewPreview"></div>
      </div>

</section>
	<form action="{{ url_for('country') }}" align="center">
		<input type="submit" value="Get Started" />
	</form>
{% endblock %}
