<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.1.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>

  <header>
   <div id='header'>
     <h1 class="logo">W209: Life Locator</h1>

       <strong><nav padding="30px">
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('country') }}">Country View</a></li>
            <li><a href="{{ url_for('state') }}">State View</a></li>
              <li><a href="{{ url_for('compare') }}">Compare</a></li>
              <li><a href="{{ url_for('appendix') }}">Data/FAQ</a></li>
          </ul>
        </nav></strong>

   </div>
 </header>
 <body>
<div class="container" id="body">
    <div class="container" id="content_block">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  </body>
  <script>
        persistReferenceCounty();
  </script>
</html>
