 <h1>Select the data that matters to you:<br></h1>
  <p></p>

  <!-- create the checkboxes-->
  <strong>Data Fields</strong><br>
  <div class="checks">
      <button id="selectAll" onclick="selectAllChecks()">Select All</button>
      <button id="clearAll" onclick="clearAllChecks()">Clear</button><br>
      Coldest Daily Temperature: <input type="checkbox" id="low_temp"><br>
      Hottest Daily Temperature: <input type="checkbox" id="high_temp"><br>
      Precipitous Days: <input type="checkbox" id="precip_num_days"><br>
      Population Density: <input type="checkbox" id="density_group"><br>
      Median Individual Income: <input type="checkbox" id="income_individual_median"><br>
      Home Value: <input type="checkbox" id="home_value"><br>
      Median Rent: <input type="checkbox" id="rent_median"><br>
      Median Age: <input type="checkbox" id="age_median_group"><br>
      Unemployment Rate: <input type="checkbox" id="unemployment_rate_average"><br>
      Crime Rate per 100,000: <input type="checkbox" id="crime_rate_per_100000"><br>
  </div><br>

 <div id="countySelections">
  <!-- Selection for reference county-->
 <strong>Reference County</strong><br>
 State <select name="stateSelect" id="stateSelect" onchange="if (this.selectedIndex) changeCounties(this.options[this.selectedIndex].text,  '{{ url_for('static', filename='data_sources/county_by_state_list.json') }}');">
     <option value="--">--</option>
 </select><br>
 County <select name="countySelect" id="countySelect">
     <option value="--">--</option>
 </select><br>
 </div>

 <div class="buttons">
  <!-- Button to reset view-->
  <button id="generateView" onclick="generateView()">Generate View</button>
 </div>

<script type="text/javascript" defer>
  // script will parse the URL, extract the everything after the final '/'
  // then separate any parameters with ';'
  const paramArr = window.location.href.split("/").slice(-1)[0].split("?")[0].split(";")

  //iterate through paramArr
  //set checked=true for respective parameters (checkboxes with corresponding variables)
  const checks = document.querySelectorAll('input[type=checkbox]')
  if (paramArr !== null) { checks.forEach(check => check.checked=(paramArr.includes(check.id))) };

  //populate the state dropdown
  jQuery.getJSON("{{ url_for('static', filename='data_sources/county_by_state_list.json') }}", function(json) {
    var selector = document.querySelector('select[id="stateSelect"]')

    for (let s in json) {
        var opt = document.createElement('option');
        opt.value = s;
        opt.innerHTML = s;
        selector.appendChild(opt);
    }
  });
  </script>
