 <h1>Select the data that matters to you:<br></h1>
  <p></p>

  <!-- create the checkboxes-->
  Population Density: <input type="checkbox" id="density"><br>
  Median Age: <input type="checkbox" id="age_median"><br>
  Median Individual Income: <input type="checkbox" id="income_individual_median"><br>
  Home Value: <input type="checkbox" id="home_value"><br>
  Median Rent: <input type="checkbox" id="rent_median"><br>
  Unemployment Rate: <input type="checkbox" id="unemployment_rate"><br>
  Precipitous Days: <input type="checkbox" id="num_precip_days"><br>
  Minimum High Temp: <input type="checkbox" id="min_high"><br>
  Maximum High Temp: <input type="checkbox" id="max_high"><br>
  Crime Rate per 100,000: <input type="checkbox" id="crime_rate_per_100000"><br>


  <!-- Button to reset view-->
  <button onclick="myFunction()">Generate View</button>

  <script type="text/javascript" defer>
  // script will parse the URL, extract the everything after the final '/'
  // then separate any parameters with '&'
  const paramArr = window.location.href.split("/").slice(-1)[0].split("&")

  //Test code
  //alert(paramArr)
  //const paramArr = ["min_high", "max_high"]
  //document.getElementById("density").checked="true";

  //iterate through paramArr
  //set checked=true for respective parameters (checkboxes with corresponding variables)
  const checks = document.querySelectorAll('input[type=checkbox]')
  if (paramArr !== null) { checks.forEach(check => check.checked=(check.id in paramArr)) };
  </script>

  <script>
    function myFunction() {
      // insert call to appropriate page here

      //following code checks all checkboxes for state
      //creates array with id names of all checked boxes
      var array = []
      var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

      for (var i = 0; i < checkboxes.length; i++) {
        array.push(checkboxes[i].id)
      }

      //test code
      //alert(array)
    }
  </script>


<!--
'density',
'age_median',
'income_individual_median',
'home_value',
'rent_median',
'unemployment_rate',
'num_precip_days',
'min_high',
'max_high',
'crime_rate_per_100000
-->
