 <strong>Choose only the variables you wish to consider:<br></strong>
  <p></p>

  <!-- create the checkboxes
  <strong>Data Fields</strong><br>-->
  <div class="checks">
      <button id="selectAll" onclick="selectAllChecks()">Select All</button>
      <button id="clearAll" onclick="clearAllChecks()">Clear</button><br>
      <input type="checkbox" id="low_temp">  Coldest Daily Temperature<br>
      <input type="checkbox" id="high_temp"> Hottest Daily Temperature<br>
      <input type="checkbox" id="precip_num_days"> Precipitous Days<br>
      <input type="checkbox" id="density_group"> Population Density<br>
      <input type="checkbox" id="income_individual_median"> Median Individual Income<br>
      <input type="checkbox" id="home_value"> Home Value<br>
      <input type="checkbox" id="rent_median"> Median Rent<br>
      <input type="checkbox" id="age_median_group"> Median Age<br>
      <input type="checkbox" id="unemployment_rate_average"> Unemployment Rate<br>
      <input type="checkbox" id="crime_rate_per_100000"> Crime Rate per 100,000<br>
  </div><br>


  <!-- Selection for reference county-->
 <strong>Reference County:</strong> <i>Will set selected variables to chosen county in order to compare against</i><br>
 <div id="countySelections">
 </div><br>

 <div class="buttons">
  <!-- Button to reset view-->
  <button id="generateView" onclick="generateView()">Generate View</button>
 </div>

<script type="text/javascript" defer>
  // script will parse the URL, extract the everything after the final '/'
  // then separate any parameters with ';'
  const paramArr = window.location.href.split("/").slice(-1)[0].split("?")[0].split(";")

  //iterate through paramArr
  //set checked=true for respective parameters (checkboxes with corresponding variables)
  const checks = document.querySelectorAll('input[type=checkbox]')
  if (paramArr !== null) { checks.forEach(check => check.checked=(paramArr.includes(check.id))) };

  $(function() {
    createStateDropdown("{{ url_for('static', filename='data_sources/county_by_state_list.json') }}")
});
  </script>
